@import "keplerst-style-vars", "keplerst-default-style-vars";

// Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  //-webkit-text-size-adjust: 100%;

}

body {
  font-family: $reg;
  font-size: 100%;
  max-width: 100%;
  -webkit-text-size-adjust:none;
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 87.5%;

}
// change the body spacing for the vertical toolbar from margin to padding
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0;
  padding-left: 15rem;
}

a {
  text-decoration: none;
  color: rgba($primaryColor1, 1);
  @include keplerstTransition(opacity, 0.25s, ease-in-out);
  &:hover {
    text-decoration: none;
    border-bottom: none;
    color: rgba($primaryColor1, 0.85);
  }
}

details {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p { // , .field--type-text-with-summary - tmd: Stand-alone class removed - causes extra space site-wide. Replace as required and/or retarget
  @include keplerst_ubuntu-light ($primaryColor1, 1.1em);
  line-height: 2.2em;
  margin: 0 0 2.2em;
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

ul {
  li {
    @include keplerst_ubuntu-light ($primaryColor1, 1.1em);
  }
}

ol {

  li {
    @include keplerst_ubuntu-light ($primaryColor1, 1.1em);
  }
}

//  background-image: image(/sites/keplerchallenge.co.nz/themes/custom/keplerst/images/bullet-symbol.svg);
#main-layout ul, #main-layout ol {
    list-style: none;
    counter-reset: bullet-symbol;
    margin: -1rem 0 1rem;
    padding-left: 0;
  }
#main-layout ul, #main-layout ol {border-bottom: 1px solid rgba($keplerst_Tan1, 0.6);}

#main-layout li {
    position: relative;
    counter-increment: bullet-symbol;
    border-top: 1px solid rgba($keplerst_Tan1, 0.6);
    // margin: 1rem;
    padding: 0.3rem 1rem 0.5rem 2.55rem;
  }
#main-layout ul li::before {
    position: absolute;
    top: 1rem;
    left: 0;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    margin-right: 0.5rem;
    margin-left:0.5rem;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid $keplerst_Orange;
  }
#main-layout ul li:nth-child(2n+1) {background: rgba($keplerst_Tan1, 0.2);}

#main-layout ol li::before {
    position: absolute;
    top: 1rem;
    left: 0;
    transform: translateY(-50%);
    content: counter(bullet-symbol);
    background: $keplerst_Orange;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    margin: 0 0.4rem;
  }
#main-layout ol li:nth-of-type(n+100) {padding-left: 3.25rem !important;} //extra width for >100
#main-layout ol li:nth-of-type(n+100)::before {width:2.5rem;border-radius: 1.5rem;} //extra width for >100
#main-layout ol ol li::before {
    background: rgba($keplerst_Orange, 0.8);
  }
#main-layout ol ol ol li::before {
    background: rgba($keplerst_Orange, 0.6);
  }



//>>>>>>.....>>>>>.....

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red; }


//>>>>>>.....>>>>>.....

h1, h2, h3, h4, h5, h6 {

}

h1 ,
.heading-a {
  @include keplerst_ubuntu-medium ($primaryColor3, 3em);
  margin: 1.0em 0 0.5em;
//  font-weight: inherit;
//  font-size: 1.357em;
//  color: $primaryColor2;
//  font-family:$defaultHeaderFont;
}

h2,
.heading-b {
  @include keplerst_ubuntu-medium ($primaryColor2, 1.8em);
  margin: 1.0em 0 0.5em;
//  font-weight: inherit;
//  font-size: $desktopH2;
//  color: $primaryColor3;
//  font-family:$defaultHeaderFont;
}

h3,
.heading-c {
  @include keplerst_ubuntu-medium ($primaryColor1, 1.4em);
  margin: 1.0em 0 0.5em;
//  font-weight: inherit;
//  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// Specific elements
.page-title, #block-title > div {
  @include keplerst_ubuntu-light ($primaryColor3, 3.5em);
  line-height: 1.3em;
  padding: 5px 0 50px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #777;
}
p a, p a.link {  border-bottom: dotted 0.1em !important;
}

img.image-style-avatar{
    border-radius: 100%;
}
