@import "keplerst_mixins";

// Basic Color Variables
$primaryColor1: #0062A0;
$primaryColor2: #1D7459;
$primaryColor3: #CCCCCC;
$primaryColor4: #1A1A1A;
$primaryColor5: #9A9A9A;
$mainMenuBgColor: #9A9A9A;
$mainMenuFontColor: #1A1A1A;
$mainMenuBorderColor: #1A1A1A;
$buttonBgColor: #9A9A9A;
$buttonFontColor: #1A1A1A;
$buttonBorderColor: #1A1A1A;


// keplerst Colours
$keplerst_Tan1:#DFDDC7;
$keplerst_Tan2:#E2E0C9;
$keplerst_LightOrange:#F49612;
$keplerst_Orange:#C85A1F;
$keplerst_DarkOrange: #993300;
$keplerst_DarkestTeal: #002732;
$keplerst_DarkTeal: #003C3C;
$keplerst_DarkBlue: #282850;
$keplerst_Grey: #3C3C3C;
$keplerst_GreyText: #333;


// Basic Font Variables
$defaultHeaderFont: comfortaaregular,Arial,sans-serif;
$defaultBodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;


//  Font Sizes
$generalTextSize: 1em;
$desktopH2: 2.2em;
$mobileH2: 1.8em;



 $keplerst_ubuntu: 'Ubuntu', sans-serif;
 $keplerst_baloo: 'Baloo', cursive;
// weights etc added to keplerst_mixins doc
