//@import "keplerst_mixins";

// keplerst Colours
$keplerst_Tan1:#DFDDC7;
$keplerst_Tan2:#E2E0C9;
$keplerst_LightOrange:#F49612;
$keplerst_Orange:#C85A1F;
$keplerst_DarkOrange: #993300;
$keplerst_DarkestTeal: #002732;
$keplerst_DarkTeal: #003C3C;
$keplerst_DarkBlue: #282850;
$keplerst_Grey: #3C3C3C;
$keplerst_GreyText: #333;

// Basic Color Variables
$primaryColor1: $keplerst_GreyText;
$primaryColor2: $keplerst_DarkBlue;
$primaryColor3: $keplerst_DarkTeal;
$primaryColor4: $keplerst_DarkOrange;
$primaryColor5: $keplerst_Tan1;
$mainMenuBgColor: $keplerst_DarkTeal;
$mainMenuFontColor: $keplerst_Tan1;
$mainMenuBorderColor: #9F0;
$buttonBgColor: $keplerst_DarkTeal;
$buttonFontColor: $keplerst_Tan1;
$buttonBorderColor: #9F0;



// Basic Font Variables
$defaultHeaderFont: 'Ubuntu', Arial, sans-serif;
$defaultBodyFont: 'Ubuntu', Arial, sans-serif;


//  Font Sizes
$generalTextSize: 1em;
$desktopH2: 2.2em;
$mobileH2: 1.8em;



 $keplerst_ubuntu: 'Ubuntu', Arial, sans-serif;
 $keplerst_baloo: 'Baloo', cursive, serif;
// weights etc added to keplerst_mixins doc
