@import "keplerst_mixins", "keplerst-style-vars", "keplerst-default-style-vars", "keplerstgs";
////////////////////////////////////////////////////////////////////////////////
//
// Sandpit
//
////////////////////////////////////////////////////////////////////////////////


#preface1-outer-wrapper{
  background-color: $keplerst_DarkestTeal;
}
#preface1-outer-wrapper p {color:white;}


// tmd sandy-pit

// Hamburger toggle and animation
@keyframes fade-in1 {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade-in2 {
  from {opacity: 0; top: 25vh;}
  to {opacity: 1; top: 61px;}
}
#menu-outer-wrapper {
  position: relative;
  top: 0;
  z-index: 9;
  animation-name: fade-in1;
  animation-duration: 2s;
  animation-timing-function: ease;
}
#menu-outer-wrapper.hamburger-clicked {
	position: fixed;
	top: 61px;
	width: 100%;
  z-index: 11;
  animation-name: fade-in2;
  animation-duration: 1s;
  animation-timing-function: ease;
}

// Preface 3 front page stapline-banner
#preface3-outer-wrapper {
  background: url("/sites/keplerchallenge.co.nz/themes/custom/keplerst/images/smaller-kepler-bmp.jpg") 50% 50% no-repeat;
	background-size: cover;
  padding: 2rem;
}
#strapline-banner {display: flex;justify-content: space-evenly;align-items: center;}
@media all and (min-width: 799px) {#strapline-banner {padding: 0 10%;} // Push logos closer to centre on wider screens


}


// Partners
.view-our-partners h3 a {color: $keplerst_DarkOrange;}
.view-our-partners .view-content{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}
.view-our-partners .views-row {width: 48%; margin: 0 0 3rem 0;}
@media all and (min-width: 480px) and (max-width: 767px) {.view-our-partners .views-row {width: 31.5%;}}
@media all and (min-width: 768px) /*and (max-width: 1023px)*/ {.view-our-partners .views-row {width: 23.5%;}
}

.view-our-partners h3 {
	border-top: 1px solid #999;
	color: $keplerst_DarkOrange;
  min-width: 100%;
}
.view-our-partners .field--name-field-partner-logo { // tmd = aspect-ratio-box container
	border: 1px solid #999;
	text-align: center;
  height: 0;
  overflow: hidden;
  padding-top: 500px / 500px * 100%;
  background: white;
  position: relative;
}
.view-our-partners .field--name-field-partner-logo picture { // tmd = aspect item... may not work!
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view-our-partners .field--name-node-title h2 {margin-top: 0;}
.view-our-partners .field--name-node-title h2 a {@include keplerst_ubuntu-light ($color:$keplerst_DarkTeal, $size: 1.5rem);}
.view-our-partners .field--name-field-partner-url a {@include keplerst_baloo ($color: $keplerst_DarkOrange, $size:1.1rem);}
.view-our-partners .field--name-field-partner-description {@include keplerst_ubuntu-light ($color:$keplerst_GreyText, $size:1rem);}


// Keeping sandy>>>>

figure {margin:0.9rem 3rem 0 0px;} // In-line image and caption style

// Main navigation >>>>>>>>>>>>>>>>> SAND PIT >>> move when complete
#menu-outer-wrapper {background-color: $keplerst_DarkTeal;}

// tmd - temp >>>> talk to Roo about responsive img sizes and layout.
.region--postscript-fourth.region.region-postscript-fourth {
	display: flex;
	justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

// -/tmd sandy pit ends

/* End of main Sandpit *////////////////////////////////////////////////////////

// Fixed bg images
.nb_fixed-bg {
    min-height: 55vh;
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$keplerst_DarkTeal;
}
@media all and (min-width: 0px) {.nb_fixed-bg{}}
@media all and (min-width: 480px) and (max-width: 767px) {.nb_fixed-bg{}}
@media all and (min-width: 768px) /*and (max-width: 1023px)*/ {
	.nb_fixed-bg, #nb_slideshow_bg{
		height:1vh;
		background-attachment: fixed;
	}
}
@media all and (min-width: 1024px) and (max-width: 1219px) {.nb_fixed-bg{}}
@media all and (min-width: 1220px) {.nb_fixed-bg{}}

// Watermark (sort-of) bg
#block-tmdkeplerlogowatermark {min-width: 100%;} // tmd - this is added as a block to ensure height is generated simply (as opposed to a bg image which would require padding etc)

// Footer bg image
#footer-outer-wrapper {
    background: $keplerst_DarkOrange url("/sites/keplerchallenge.co.nz/files/2018-02/footer-bg.png") no-repeat;
    min-height: 65vh;
    background-position: 50% bottom;
    background-size: cover;
}
/*@media all and (min-width: 0px) {#footer-outer-wrapper{}}
@media all and (min-width: 480px) and (max-width: 767px) {#footer-outer-wrapper{}}
@media all and (min-width: 768px)  {
	#footer-outer-wrapper {
		height:1vh;
		background-attachment: fixed;
	}
}*/


/* Sandpit extension */
#nb_bg_video{
   /* position: fixed;*/
    background-image: url(/sites/keplerchallenge.co.nz/files/video/poster_lg.jpg);
    min-height: 80vh;
    height: 1vh;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#nb_bg_video .nb_background-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
/*End of sandpit extension */



// Hamburger-Menu -example css . Edit as necessary.
.responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after, .responsive-menu-toggle-icon span.icon {
	background: #c00;
	//content: '';
	//display: block;
	//width: 20px;
	//height: 3px;
	//position: absolute;
	//top: 0;
	//left: 13px;
	//border-radius: 2px;
}
#block-hamburgernonmobile:hover {cursor: pointer;} // tmd - force display of hand pointer

footer.node__meta {float:right;}
// h2 {float:left;} tmd removed - old styling from KTRK?
.node__content{clear:both}

/*This Section from pealing.com but left in for reference as may be useful*/
//Pop-up Login Block
/*.ui-widget-content {font-family:$defaultBodyFont; color: $primaryColor2;}
#ui-id-1 {font-family: $defaultHeaderFont; color: $primaryColor1;}
#ui-id-1::before {content: "pealing.com ";}
.ui-widget input {width: 280px; color: $primaryColor1;}
.ui-dialog .ui-dialog-buttonpane button {width: 100%; margin: 0;font-family: $defaultHeaderFont; color: $primaryColor1;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {margin: 0; padding: 0; width: 100%;}*/
// End Pop-up Login Block

// User Account Menu
.menu--account {display: none;}
.user-logged-in .menu--account {display: inline-block;float:right;}
.user-logged-in .menu--account li.menu-item {display: list-item !important;}
// End User Account Menu


// Header - split into two for branding and user menu
// tmd - removed - not required.

// @media all and (max-width: 959px) {
//     #block-keplerst-branding {@include parrotCols(9, 12, normal, '100');float:left;}
//     #block-loginformpopup {@include parrotCols(3, 12, normal, '100');float:right;}
// }
// @media all and (min-width: 960px) and (max-width: 1279px) {
//     #block-keplerst-branding {@include parrotCols(10, 12, normal, '960');float:left;}
//     #block-loginformpopup {@include parrotCols(2, 12, normal, '960');float:right;}
// }
// @media all and (min-width: 1280px) {
//     #block-keplerst-branding {@include parrotCols(10, 12, normal, '1200');float:left;}
//     #block-loginformpopup {@include parrotCols(2, 12, normal, '1200');float:right;}
// }
//
// // Postscript 1 and 2 evenly split across page down to mobile sizes
// @media all and (max-width: 480px) {
//     .region--postscript-first {@include parrotCols(12, 12, normal, '100');float:left;}
//     .region--postscript-second {@include parrotCols(12, 12, normal, '100');float:right;}
// }
// @media all and (min-width: 481px) and (max-width: 959px) {
//     .region--postscript-first {@include parrotCols(6, 12, normal, '100');float:left;}
//     .region--postscript-second {@include parrotCols(6, 12, normal, '100');float:right;}
// }
// @media all and (min-width: 960px) and (max-width: 1279px) {
//     .region--postscript-first {@include parrotCols(6, 12, normal, '960');float:left;}
//     .region--postscript-second {@include parrotCols(6, 12, normal, '960');float:right;}
// }
// @media all and (min-width: 1280px) {
//     .region--postscript-first {@include parrotCols(6, 12, normal, '1200');float:left;}
//     .region--postscript-second {@include parrotCols(6, 12, normal, '1200');float:right;}
// }





////////////////////////////////////////////////////////////////////////////////
//
//   Specific layout and styling
//
////////////////////////////////////////////////////////////////////////////////

.btn {
   width: 100%;
   background:$keplerst_DarkTeal;
   display: block;
   margin: 1em 0;
   padding: 0.5em;
   @include keplerstCorners (3px);
   text-align: center;
   @include keplerst_ubuntu-medium ($keplerst_Tan1, 1.1em);
   max-width: 260px;
   border:none;
   &:hover {background:rgba($keplerst_DarkTeal, 0.8);color: $keplerst_Orange;}
}
.btn-lrg {
    padding: 1em 0.5em;
}


//TITLE BAR LAYOUT AND ELEMENTS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#title-bar-wrapper {
	background-color: rgba(20,20,0,0.6);
	position: fixed;
	padding: 0.2rem 0;
	width: 100%;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.7);
  @include keplerstTransition (all, 1s, ease-in-out);
  z-index: 10;
}
div#page.scrolled #title-bar-wrapper {
	background-color: rgba(80,80,70,1);
	box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  @include keplerstTransition (all, 0.5s, ease-in-out);
}

// layout
.region--title-bar.region-title-bar {
	display: flex;justify-content: space-between;align-items: center;
}
#block-keplerst-search {flex-grow: 33;} // tmd - creates wider space for search and allows grow on focus

#block-tmdtemphamburgerforlayout, // REPLACE ONCE HAMBURGER MENU IN !!!!!!!!
#block-tmdaccountlogin,
#block-keplerst-branding,
#block-tmdsponsorlogotop
{flex-grow: 1; margin: 0 0.5rem; // margin replaces widths
}

@media all and (max-width: 959px) { // Change media query to match search box or search form display
  .region--title-bar.region-title-bar {justify-content: flex-end;}
  #block-tmdtemphamburgerforlayout, // REPLACE ONCE HAMBURGER MENU IN !!!!!!!!
  #block-tmdaccountlogin,
  #block-keplerst-branding,
  #block-tmdsponsorlogotop
  {flex-grow: unset;}

}

#site-branding {padding: 7px 0 0;} //tmd - allows for odd height spacing of logo img


// Search boxes

@media all and (max-width: 959px) {
  #block-keplerst-search {display: none;}
}
@media all and (min-width: 960px) {
  #block-searchform {display: none;}
}

#block-searchform,
#block-keplerst-search {
 & .js-form-item.form-item.js-form-type-search.form-type-search.js-form-item-keys.form-item-keys.form-no-label {
	@include keplerst_ubuntu-light($keplerst_GreyText, 1.1em);
}

& input#edit-keys, & input#edit-keys--2 {
	width: 170px;
	border: 1px solid $keplerst_Orange;
	padding: 5px;
	background-color: rgba($keplerst_Tan1, 0.3);
	@include keplerstTransition (all, 0.5s, ease-in-out);

}
& input#edit-keys, & input#edit-keys--2 {
	&:hover, &:focus {background-color: rgba($keplerst_Tan1, 0.8);width:50%;}
	@include keplerstTransition (all, 0.5s, ease-in-out);
}

& input#edit-submit, & input#edit-submit--2 {
	@include keplerst_ubuntu-light(white, 0.8em);
	padding: 7px 7px;
	background-color: $keplerst_DarkOrange;
	border: 1px solid $keplerst_DarkOrange;
	text-transform: uppercase;
	position: relative;
	top: -2px;
}
}
#block-searchform {padding: 1rem 0;}

// title bar ends //



// SOCIAL ICONS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#block-tmdsocialiconspage-2 {text-align: center;} // tmd - icons at top of pages


// FOOTER HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#footer-header-outer-wrapper {background-color: $keplerst_DarkTeal;text-align: center;}
#footer-header-outer-wrapper #block-tmdsocialiconspage {margin: 2rem 0 1.7rem;}
#footer-header-outer-wrapper #social-icon-wrapper {
    display: inline-table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid white;
      content: '';
      display: table-cell;
      position: relative;
      top: 1.5em;
      width: 13%;
    }
    &:before { right: 1em; }
    &:after { left: 1em; }
}
@media all and (min-width: 480px) and (max-width: 599px) {#footer-header-outer-wrapper #social-icon-wrapper {&:before, &:after {width:25%;}}}
@media all and (min-width: 600px) and (max-width: 839px) {#footer-header-outer-wrapper #social-icon-wrapper {&:before, &:after {width:31%;}}}
@media all and (min-width: 840px) {#footer-header-outer-wrapper #social-icon-wrapper {&:before, &:after {width:33%;}}}

a.social-icon {padding: 0 0.5rem;}


// FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

//  Typography
.region--footer h2 {
  @include keplerst_baloo(white, 1.2em);
	letter-spacing: 0.05em;
	float: none;
}
.region--footer p {
  @include keplerst_ubuntu-light($keplerst_Tan1,1.1em);
  margin: 0 0 0.7em;
  line-height: 1.2;
}
.region--footer p a {
  color: rgba($keplerst_Tan1, 1);
  @include keplerstTransition(opacity, 0.25s, ease-in-out);
  border-bottom:none !important;
  &:hover {
    color: rgba($keplerst_Tan1, 0.85);
  }
}

// Footer menu
.tmd-footer-menu-container {display: flex;flex-wrap: wrap;justify-content: space-between;}
.tmd-footer-menu {
    width: 23.5%;
    min-width: 136px;
    margin-bottom: 5rem;
}
@media all and (min-width: 960px) {
    .tmd-footer-menu-container {display: grid;  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;  grid-gap: 2%; }
    .tmd-footer-menu {margin-left: 0;margin-right: 0;width: 100%; }
}


// footer lower layout >>>>
@media all and (min-width: 600px) {
  #block-tmdfooteraccountlogin {float: left;width: 49%;}
  #block-tmdnewslettersignup, #block-tmdfooteraddressblock {float: right;clear: right;width: 49%;}
}
@media all and (min-width: 840px) {
  #mc-embedded-subscribe-form, .footer-col-wrapper {display: flex;}
  .footer-col-right {width:35%; padding-left:10px;}
  .footer-col-left {width: 65%; padding-right:10px;}
  #block-tmdfooteraccountlogin .btn, #block-tmdnewslettersignup .btn, #block-tmdfooteraddressblock .btn {&:first-of-type{margin-top: 0;}}
}

// Mail chimp signup form - footer >>>>>>
#mce-EMAIL {
	width: 100%;
	height: 3.1rem;
  @include keplerstCorners (3px);
  @include keplerst_ubuntu-light (#000, 1.3em);
  padding: 0 0 0 0.6em;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.05);
}
#mce-EMAIL {&:hover, &:focus{background-color: rgba(255, 255, 255, 0.5);}}

// TMD / NWB last word sign-off text >>>>>>>>>>>
#block-thelastword p {
  @include keplerst_ubuntu-light (#888, 0.8em);
	line-height: 1.1em;
	margin: 0.6em 0 0.7em;
}




// COPYRIGHT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.region--copyright {padding: 20px 0;}
.region--copyright #copyright {
  float:left; @include keplerst_ubuntu-light($keplerst_GreyText,20px); margin: 10px 0 20px;
}
.region--copyright #footer-logo {float:right;width:220px;}
@media all and (max-width: 600px){
  .region--copyright #footer-logo {float:none;}
}
#copyright-outer-wrapper {border-bottom: 1px solid $keplerst-Grey;}


// FRONT PAGE OVERRIDES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.path-frontpage { // THIS WRAPS FRONT PAGE OVERRIDES

  #menu-outer-wrapper {background-color: $keplerst_DarkOrange;min-height: 6vh;}

  #preface1-outer-wrapper {min-height: 10vh;}

  .nb_fixed-bg { // Larger home page top image
  min-height: 80vh;}

  section#btns-outer-wrapper { // overrides margin for social icons on pages
        margin: 0;
    }

  .front-buttons a {
	@include keplerstCorners($rad: 3px);
	display: inline-block;
	text-transform: uppercase;
	padding: 1.5em 0.5em;
	background-color: $keplerst_DarkOrange;
	margin: 0.5em;
	width: 180px;
	color: $keplerst_Tan1;
  &:hover {background-color: rgba($keplerst_DarkOrange,0.8);}
  }

  #teaser-layout{
  position:relative;
  height: 100%;
  }

  .region--teaser { // move tab to bottom of video window
  position:absolute !important;
  //background-color: $keplerst_DarkestTeal;
  text-align: center;
  bottom: 0;
  }
  .region--teaser p {
  color:white;
  display: inline-table; // needed for lines either side
  background-color: $keplerst_DarkestTeal;
  margin: 0;
  font-weight: 500;
  padding: 0.5rem 2rem;

  &::before, &::after { // before and after for left and right lines
  border-top: 2px solid white;
  content: '';
  display: table-cell;
  position: relative;
  top: 1rem;
  width: 10%;}
  &::before {right:1rem;} // add padding between line and text
  &::after {left:1rem;}
  }
  .region-content, .region-content2 {text-align: center;}

} // THIS CLOSES FRONT PAGE OVERRIDES
